# http://editorconfig.org

# 是否为顶级配置文件，设置为true时才会停止搜索.editorconfig文件
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
tab_width = 2

[*.md]
trim_trailing_whitespace = false
